<header class="app-header">
  <div class="app-name">ParkFlow Pro</div>
  <div class="menu-wrapper">
    <nav class="menu">
      <ul>
        <li id="parking-slot-list" routerLinkActive="active">
          <a (click)="navigateToSlotList()">Parking Slot List</a>
        </li>
      </ul>
    </nav>
    <nav class="menu">
      <ul>
        <li id="find-slot" routerLinkActive="active">
          <a (click)="navigateToAssignSlot()">Find Slot</a>
        </li>
      </ul>
    </nav>
  </div>
</header>